body{
    font-family: 'Kanit', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.flexible-container{
    display: flex;
    margin-bottom: 80px;
}
.half-width{
    width: 50%;
    padding-left: 7%;
}
.half-width img{
    width: 75%;
}
.btn{
    background-image: linear-gradient(orange,tomato);
    padding: 7px 15px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-weight: 400;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.jm{
    color: rgb(211, 144, 19);

}
.hr{
    margin-bottom: 80px;
    width: 70%;
    height: 2px;
    background-image: linear-gradient( orange, tomato);
}

.succesful-student{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    display: flex;
    padding-right: 85px;
}

.e-i{
    color:#fc00bd;
}

.experience-item{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
    
}
 
.margin-t{
    margin-bottom: 100px;
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

#a{
border-image: linear-gradient( orange, tomato);
border-left: 10px solid;
border-image-slice: 1;
}
#b{
border-left: 12px solid;
border-image: linear-gradient(#d2e907, #6a0be6);
border-image-slice: 1;
}

.footer{
    color: chocolate;
    font-weight: 400;
    text-align: center;
    
}